apiVersion: v1
kind: Namespace
metadata:
  name: todoapp
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp-apps
  namespace: todoapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todoapp
  template:
    metadata:
      labels:
        app: todoapp
    spec:
      containers:
      - name: todoapp
        image: prodaksclusterregistry.azurecr.io/todoapp:__TAG__
         # image: prodaksclusterregistry.azurecr.io/todoapp:__TAG__
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: todoapp-apps
  namespace: todoapp
spec:
  selector:
    app: todoapp          # FIXED (correct label)
  ports:
  - name: http
    port: 80
    targetPort: 80
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-nginx
  namespace: todoapp
spec:
  ingressClassName: nginx       # should be nginx, not todoapp
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: todoapp-apps
            port:
              number: 80
