name: Buil & Push & deploy

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  AKS_RESOURCE_GROUP: ${{ secrets.AKS_RESOURCE_GROUP }}
  AKS_CLUSTER_NAME: ${{ secrets.AKS_CLUSTER_NAME }}
  IMAGE_TAG: ${{ github.run_number }}
  SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
  
# BUILD & SECURITY SCAN & PUSH 

jobs:
  Build-Scan-Push:
    runs-on: ubuntu-latest

    steps:

      - name: Clean Workspace
        run: |
          sudo rm -rf *
          echo "Workspace cleaned."

            # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      #       # Az Login
      # - name: Azure Login
      #   uses: azure/login@v2
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

            # Setup Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # SonarQube scan
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=starbucks
            -Dsonar.projectName=starbucks
            
      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Wait for SonarQube Quality Gate
      - name: Wait for SonarQube Quality Gate
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # squ_30cf71e1b5685b3810d297dd9bbeff56b9c3f434
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} #http://20.9.141.144:9000

  
